@import 'variables';

#app {
    // font-family: Avenir, Helvetica, Arial, sans-serif;
    font-family: Roboto Condensed;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    font-size: $fsize;
}

.btn {
    cursor: pointer;
}

.dblock {
    display: block;
}

.iblock {
    display: inline-block;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.btn-danger {
    background-color: $prime;
    padding: 4px 6px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_sm {
    font-size: x-small;
}

.hoverControl {
    visibility: hidden;
}

tr:hover .hoverControl {
    visibility: visible;
}

table {
    border-collapse: collapse;
}

input {
    font-family: 'Roboto Condensed', sans-serif;;
}

// classes
.primary {
    color: $prime;
}

.secondary {
    color: $second;
}